body {
    font-size: 1rem;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;

    text-align: center;

    // All <a> tags within navbar
    a {
        text-decoration: none;
        color: var(--veryDarkBlue);
    }

    // Primary navigation links
    .item > a {
        font-weight: 500;
    }

    .login {
        font-size: 1.125rem;
    }


    @media (min-width: 50em) {
        font-size: 1rem;
    }
}

.subitem {
    font-size: 1rem;
}