body {
    font-size: 1rem;
}

header {
    text-align: center;
}

.header {


    &__title {
        font-size: 2.25rem;
    }

    @media (min-width: 50em) {
        &__title {
            font-size: 4rem;
        }
    }
}

nav {
    font-family: 'Overpass', sans-serif;
    font-size: 1.125rem;

    text-align: center;

    // All <a> tags within navbar
    a {
        text-decoration: none;
        color: var(--veryDarkBlue);
    }

    // Primary navigation links
    .item > a {
        font-weight: 600;
    }

    .login {
        font-size: 1.125rem;
    }


    @media (min-width: 50em) {
        font-size: 1rem;
    }
}

.subitem {
    font-size: 1rem;
}