header {
    width: 100vw;
    border: 1px solid blue;
    
    padding: 3.5rem 1.5rem 0;

    background: linear-gradient(to bottom, rgba(255, 143, 113, 1), rgba(255, 62, 85, 1));

    border-bottom-left-radius: 6.25rem;
}