header {
    max-width: 100vw;
    width: 100%;

    background: linear-gradient(to bottom right, rgba(255, 143, 113, 1), rgba(255, 62, 85, 1));


    border-bottom-left-radius: 6.25rem;

    padding: 3.5rem 1.5rem 9.75rem;
}