.navbar {

    display: grid;

    &--toggle {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
}


.menu {
    // Sets max-width of 'mobile menu'
    max-width: 20.25rem;
    width: 100%;

    // places 'mobile/tablet menu' to right side of screen
    justify-self: flex-end;

    // add padding below mobile menu icons
    position: relative;
    top: 1.5rem;


    border-radius: 5px;
    background: white;

    padding: 1.5rem;    
}

.item a:hover,
.item a:focus {
    cursor: pointer;
}

.submenu {
    // display: none;

    display: grid;
    grid-gap: 12px;

    margin: 0;
    padding: 1rem 0;

    background: var(--grayishBlue);
    border-radius: 5px;

    
}

.register {
    padding: 0;
    border-top: 2px solid var(--grayishBlue);
}


// 'desktop' version
@media (min-width: 50em) {

    .hamburger {
        display: none;
    }

    .navbar {
        outline: 1px solid white;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .menu {
        // reset base styles for 'desktop' use
        margin: 0;
        padding: 0;
        top: 0;

        display: flex;
    }
}