.navbar {
    display: grid;


    // place 'logo' and 'hamburger' on same line
    &--toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {
    justify-self: end;

    width: 100%;
    max-width: 20.25rem;

    border-radius: 5px;

    position: relative;
    top: 1.5rem;

    background: white;

    .item > a:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
    }

    .item a,
    .subitem a {
        display: block;
        padding: 1rem;
    }

    .submenu {
        display: none;
        background: #0003;
        border-radius: 5px;
        margin: 0 1.5rem;
    }

    .subitem a:hover {
        background: #0003;
    }

    .register {
        border-top: 1px solid #000;
    }
}

@media (min-width: 50em) {

    .navbar {
        display: flex;
        align-items: center;
    }

    .menu,
    .register {
        background: none;
        display: flex;
    }

    .menu > .register {
        border: none;
    }

    .toggle {
        display: none;
    }   

    .submenu {
        display: none;
    }
}