.navbar {
    position: relative;

    display: grid;


    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.menu {
    position: relative;
    top: 2rem;
    outline: 1px solid white;

    width: 100%;
    max-width: 20.25rem;

    justify-self: flex-end;

    display: flex;
    flex-direction: column;
}

.submenu {
    background: var(--grayishBlue);
    padding: 1.5rem;

    border-radius: 5px;
}