@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --lightRed: hsl(356, 100%, 66%);
  --veryLightRed: hsl(355, 100%, 74%);
  --veryDarkBlue: #1f3e5a;
  --white: hsl(0, 0, 100%);
  --grayishBlue: hsl(240, 2%, 79%);
  --veryDarkGreyBlue: hsl(206, 13%, 34%);
  --darkBlackBlue: hsl(240, 10%, 16%);
}

html {
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* HOW DO I RESET 'margin' and 'padding' without
   this reset taking priority??? */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: grid;
  justify-content: center;
}

body {
  font-size: 1rem;
}

nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: var(--veryDarkBlue);
}
nav .item > a {
  font-weight: 500;
}
nav .login {
  font-size: 1.125rem;
}
@media (min-width: 50em) {
  nav {
    font-size: 1rem;
  }
}

.subitem {
  font-size: 1rem;
}

header {
  width: 100vw;
  max-width: 100%;
  border: 1px solid blue;
  padding: 3.5rem 1.5rem 0;
  background: linear-gradient(to bottom, #ff8f71, #ff3e55);
  border-bottom-left-radius: 6.25rem;
}

.navbar {
  max-width: 68.75em;
  margin: 0 auto;
  display: grid;
}
.navbar--toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.submenu {
  padding: 0;
  margin: 0;
}

.menu {
  max-width: 100%;
  width: 20.25rem;
  padding: 0 1.5rem 2rem;
  position: relative;
  top: 1.5rem;
  justify-self: flex-end;
  background: white;
  border-radius: 5px;
}
.menu > .item > a {
  display: inline-block;
  margin: 1.5rem 0;
}

.submenu {
  display: grid;
  background: #0003;
  border-radius: 5px;
  padding: 1rem 0 1.5rem;
}
.submenu:not(:first-child) a {
  display: block;
  margin-top: 0.75rem;
}

@media (min-width: 50em) {
  .hamburger {
    display: none;
  }

  .navbar,
.menu {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100%;
    padding-right: 4rem;
  }

  .menu {
    width: 100%;
    padding: 0;
    background: none;
    top: 0;
  }
  .menu > .item > a {
    margin: 0 2rem 0 0;
  }
  .menu .login {
    margin-left: auto;
  }

  .submenu {
    display: none;
    text-align: left;
    position: absolute;
    top: 1.5rem;
    background: white;
    padding: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
